/********* RESET********/
* { margin:0;  padding:0; }
ol,ul { list-style:none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0; vertical-align:bottom; }

/******** 기존 css *********/
h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.bord {
  text-align: center;
  font-size: 16px;
  line-height: 136px;
  word-spacing: 20px;
  font-family: Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: rgb(88, 89, 91);
}
.bord>a:hover {
  font-weight: 750;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.intro .title1 {
  margin-top: 100px;
  margin-bottom: 8px;
  margin-left: 350px;
  margin-right: 350px;
  text-align: center;
  font-size: 200%;
  font-family: 'jalnan';
  color: #303030;
}
.intro .title2 {
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 240%;
  font-family: 'jalnan';
  color: #8aaae5;
}
.intro .title3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 200%;
  font-family: 'jalnan';
  color: #303030;
}
.intro .explanation {
  font-family: 'notokr-regular';
  margin-top: 64px;
  text-align: center;
}
.result-body .result{
  text-align: center;
  font-size: 30px;
  font-family: 'notosans-bold';
  background-color: rgb(227, 238, 248);
  border-radius: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 10px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.test-result-body {
  background-color: #464646;
  width: 100%;
  height: 500px;
  border-radius: 20px;
}
.text {color: white; text-align: center; font-size: 30px;}
.result-head {color: white; text-align: center; font-size: 25px;}
.sum {margin-left: auto; margin-right: auto; width: 340px; margin-top: 60px; text-align: center; font-family: 'notokr-regular';}






/********** FONT *********/
/* noto-serif-kr-regular - korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-weight: 400;
  src: url('noto-serif-kr-v6-korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif KR'), local('NotoSerifKR-Regular'),
       url('noto-serif-kr-v6-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-serif-kr-v6-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-serif-kr-v6-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('noto-serif-kr-v6-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('noto-serif-kr-v6-korean-regular.svg#NotoSerifKR') format('svg'); /* Legacy iOS */
}
/* noto-serif-kr-700 - korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: bold;
  font-weight: 700;
  src: url('noto-serif-kr-v6-korean-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Serif KR Bold'), local('NotoSerifKR-Bold'),
       url('noto-serif-kr-v6-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('noto-serif-kr-v6-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('noto-serif-kr-v6-korean-700.woff') format('woff'), /* Modern Browsers */
       url('noto-serif-kr-v6-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('noto-serif-kr-v6-korean-700.svg#NotoSerifKR') format('svg'); /* Legacy iOS */
}



@font-face {
    font-family: 'notokr-regular';
    src: url('notokr-regular.eot');
    src: url('notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('notokr-regular.woff') format('woff'),
         url('notokr-regular.ttf') format('truetype'),
         url('notokr-regular.svg#notokr-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'jalnan';
  src: url('JalnanOTF.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'notosans-bold';
  src: url('NotoSansKR-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*-------------------------------------*/
/******** ì „ì²´ ê¸°ë³¸ CSS - PC ê¸°ì¤€********/
/************* 2020.05 YJ *************/
/*-------------------------------------*/

html {}
body { background: #fff;  position: relative; letter-spacing: -0.02em; font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','ë§‘ì€ ê³ ë”•', Malgun Gothic, 'ë‹ì›€', Dotum, Helvetica, AppleGothic, Sans-serif; }
body.fixed { height:100vh; overflow-y: hidden; }
body {  }


/* loading */
.loading-page { width: 100%; height: 100%; height: 100vh;background:#fff;
position: fixed; z-index: 100; left: 0px; top: 0px; right:0px; bottom: 0px; overflow:hidden; }
.loading-gif { width: 100%; height: 150px;position: absolute; top: 50%;margin-top: -100px; }
.loading-gif > p {  text-align: center; color: #222; margin-top: 20px; font-size: 14px; opacity: 0.5;
font-family: sans-serif; font-weight: bold;}
.spinner {margin: 0px auto;width: 70px; text-align: center; }
.spinner > div {width: 18px;height: 18px;background-color: #222;border-radius: 100%;display: inline-block;
-webkit-animation: sk-bouncedelay 1.4s infinite ase-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both;}
.spinner .bounce1 {  -webkit-animation-delay: -0.32s; animation-delay: -0.32s;}
.spinner .bounce2 {  -webkit-animation-delay: -0.16s;animation-delay: -0.16s;}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
  -webkit-transform: scale(0)
  }
  40% {
  -webkit-transform: scale(1.0)
  }
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
.loading-ment { text-align: center;  margin-top: 10px; font-weight: normal; color: #fff;letter-spacing: 2px;}
.after-load { display: block;}

::selection { background: #ff9c34; color: #111; text-shadow: none; }
::-moz-selection {background: #ff9c34; color: #111; text-shadow: none; }
::-webkit-selection {background: #ff9c34; color: #111; text-shadow: none; }

/*****IE ë¸”ë½******/
.ie-block {  z-index: 99999; width:100%; height:100vh; background:#111; background: rgba(21, 21, 21, 0.9);position:fixed; top:0;left:0;bottom:0;right:0;}
.ie-block .alert-msg { position: absolute; background:#fff; box-sizing: border-box; padding: 25px; border-radius: 5px;
box-shadow: 2px 2px 8px rgba(152, 153, 156, 0.2);width: 50%; left:25%; top: 50%; margin-top:-150px; }
.ie-block .alert-msg p { margin-bottom:8px;  text-align: center; color: #454750;font-size: 20px; }
.ie-block .alert-msg button {    display: block; width: 80%; margin: 0px auto;margin-top: 20px;
box-sizing: border-box;  padding: 10px; background: #ececf1;  border-radius: 4px; color: #565661; font-weight: bold; font-size: 14px; cursor: pointer; border: 1px solid #dedee2; letter-spacing: -0.05em; }


/* Header */
.interactive-header {  background: rgba(0,0,0,0.85); position: fixed;padding: 0px 7px;box-sizing: border-box;top: 0px; left: 0px; width: 100%; height:  32px; z-index: 100;}
.interactive-header .headerWrap { width: 100%; height: 100%; }
.interactive-header .header_container { margin: 0 auto; width: 100%; height: 100%; position: relative; overflow: hidden; }
.interactive-header .header_container .toggle-btn{ display:none; }
.interactive-header .khan_btn { float: left;  transition:all 0.5s ease 0s; }
.interactive-header .khan_btn img { width:60px; height: auto; margin-top: 8px; opacity:0.7;}
.interactive-header .khan_btn:hover { opacity: 1; }
.interactive-header .share_bx { float: right;position: relative; top: -3px; }
.interactive-header .share_bx span {pos ition: relative;  width: 22px; height: 40px;  cursor: pointer; }
.interactive-header .share_bx span img  { transition:all 0.4s ease 0s; opacity: 0.8; filter: alpha(opacity = 80); width: 24px; }
.interactive-header .share_bx span:hover > a > img { opacity:1; filter: alpha(opacity = 100); }
.top-title {  position: absolute; left: 50%; margin-left: -60px; width: 120px; height: auto;  }
.top-title img {  width: 120px; margin-top: 12px; opacity:0.5; }
.share_bx span .user-count { position: absolute; bottom: 18px; left: -20px; font-size: 13px;  color: #b2b2b2;font-style: normal; letter-spacing: 0px; }
.share_bx span:hover > img { opacity:1; filter: alpha(opacity = 100); }
/* Header */

/* common */
.wrap-psrelative, .wrap_psrelative { width: 100%; height :100%; position: relative; }
.wrap_mw_1000 { max-width: 1000px; margin: 0 auto; }
.wrap_mw_1100 { max-width: 1100px; margin: 0 auto; }
.wrap_mw_1200 { max-width: 1200px; margin: 0 auto; }
.wrap_mw_650 { max-width: 650px; margin: 0 auto; }
.wrap_mw_550  { width: 100%; height: 100%; position: relative;  max-width: 550px; margin: 0 auto;}
.noise { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: url("http://img.khan.co.kr/spko/storytelling/2016/republic/noise2.png") top left repeat; }
.cover-pattern { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/overptn.png") repeat; }
.cover-pattern2 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2018/korea/pattern2.png") repeat; }
.cover-shadow { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black50.png") repeat; }
.cover-shadow2 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black65.png") repeat; }
.cover-shadow3 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: url("http://img.khan.co.kr/spko/storytelling/2017/nohate/black65.png") repeat; }
.cover-shadow4 { width: 100%; height :100%; position: absolute; top: 0px; left: 0px; background: rgba(0,0,0,0.85); }
/* common */

/* common_header */
.common_header {  width: 100%;  position: relative; box-shadow: 0px 0px 20px rgba(102, 103, 107, 0.15); border-bottom: 1px solid #cdd1d6;   z-index: 1;background: #fff;}
.common_header .top_area_holder{ width: 100%;  height: 30px; background: #f5f5f5; }
.common_header .top_area {  width:100%; max-width: 1050px; margin: 0 auto; height: 30px;  line-height: 29px; overflow: hidden; font-size: 12px;}
.common_header .top_area .family_site {  float: left;margin: 0;}
.common_header .top_area .family_site dd a {  color: #898989; font-size: 12px; }
.common_header .top_area .family_site dd span { color: #dfdfdf; padding: 0 2px; font-size: 12px;}
.common_header .top_area .membership {  float: right; }
.common_header .top_area .membership dd { float: left; margin-right: 6px;  padding-right: 4px;}
.common_header .top_area .membership dd a.log {font-weight: bold;color: #3b57c4; }
.common_header .top_area .membership dd span {  color: #dfdfdf;padding: 0 1px; font-size: 12px; }
.common_header .top_area  .membership dd a { color: #898989;font-size: 12px;}
.common_header .logo_area { width: 1050px;  margin: 0 auto; border-bottom: none; height: 124px;position: relative;}
.common_header .sec_title {  font-size: 38px;letter-spacing: -2px;line-height: 50px;text-align: center;  padding-top: 30px;}
.common_header .sec_title a { color:#111; }
.common_header .sub_logo { position: absolute; top: 21px;  left: 0; z-index: 5;}
.common_header .sub_logo a {  background: url("http://img.khan.co.kr/spko/sub_2016/sub_logo.png") no-repeat scroll 0 0; width: 134px;height: 31px; display: block;text-indent: -9999px;}
.common_header  .logo_area .sns_wrap {  position: absolute;top: 84px; right: 0;  z-index: 30;}
.common_header .logo_area .sns_wrap .social li { float: left;background: url("http://img.khan.co.kr/spko/main_2015/set_common.png?v=20180927") no-repeat scroll 0 0 transparent;
width: 27px; height: 30px;}
.common_header  .logo_area .sns_wrap .social li.facebook {  background-position: 0 0; margin-right: 5px;}
.common_header  .logo_area .sns_wrap .social li.twitter { background-position: -32px 0; margin-right: 6px;}
.common_header  .logo_area .sns_wrap .social li.instagram {  background-position: -121px 0;margin-right: 4px;}
.common_header  .logo_area .sns_wrap .social li.youtube {  width: 35px; background: url("http://img.khan.co.kr/spko/main_2015/icon_header_youtube.png") no-repeat scroll 0 0 transparent;
 background-position: 0 0; margin-right: 14px;}
.common_header .logo_area .sns_wrap .social li a { display: block; width: 27px;   height: 30px;text-indent: -9999px;}
/* common_header */
#header-m { display:none; }
.art_header { display:none; }
.common-footer #footer-m { display:none;}

.wrap { width:100%;  position: relative;  }
.container {  width:100%; position: relative; overflow: hidden;}
.top-byline {  margin: 20px auto;}
.top-byline .top-border p { font-family: 'Noto Sans KR'; font-size: 14px; line-height:21px;text-align: center; }
.top-byline .top-border p strong { margin: 0px 5px; }
.top-byline .top-border p a {color:#111;}
.top-byline .top-border p a:hover {text-decoration: underline;}
.pc-share {  width: 95px; margin: 0 auto;margin-top: 20px; }
.pc-share .share_bx { }
.pc-share .share_bx::after { display: block; clear: both; content:''; }
.pc-share .share_bx { float: none; top:0; }
.pc-share .share_bx > div { float:left;  cursor: pointer;}
.pc-share .share_bx > div a { width: 100%; }
.pc-share .share_bx > div a img { width:100%; }
.pc-share .share_bx > .share_fb {width: 25px; margin: 7px 7px;}
.pc-share .share_bx > .share_tw {width: 40px; margin: 7px 7px;}


.story-header {}
.story-top-graphic { position: relative; height: 550px; width:100%;  overflow:visible; }
/* .story-top-graphic { height: 400px; } */
.story-top-graphic .graphic-holder { position: relative; width:100%;height: 100%; }
.story-top-graphic .graphic-back { width:100%; height: 100%; background:#2834d0;
/* background: linear-gradient(180deg, #8ca24b, #363d88); */ }
.story-top-graphic .graphic-back img{ width: 100%; display:none;}
.story-top-graphic .graphic-holder .cover-pattern2 { display:none;}
.float-el-holder { width:100%; width: 1200px; height:100%; position:absolute; top: 0; left: 50%; margin-left:-600px;  }
.float-el-holder > div { position: absolute; }
.float-el-holder > div > img { width:100%;  position: relative;  }
.float-el-holder .main-trash-dumy { position: relative; top: -100px;  margin: 0 auto; width: 100%;}
.float-el-holder .leaf { display:none;}
.leaf--1 { top: 150px; left: -50px;}
.leaf--2 { top: 300px; left: -20px;}
.leaf--3 { bottom: 50px; left: -50px;}
.leaf--4 {  right: -70px; top: -20px;}
.leaf--5 { top: 400px; right: -20px;}

.footprint-holder { position: absolute; top: 0; left: 0; width:100%; height:100%; }
.footprint-holder .each-footprint { transition:all 0.3s ease 0s; position: absolute;width: 100px; opacity:1; transform: scale(1);
-webkit-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1);}
.footprint-holder .fp--1 { bottom: -150px;left: 20px;}
.footprint-holder .fp--2 { bottom: -90px; left: 180px}
.footprint-holder .fp--3 { bottom: 50px; left: 300px;}
.footprint-holder .fp--4 { bottom: 100px; left: 450px;}
.footprint-holder .fp--5 { bottom: 240px; left: 550px; transform: rotate(10deg);}
.footprint-holder .fp--6 { bottom: 250px; left: 700px; transform: rotate(10deg);}
.footprint-holder .fp--7 { bottom: 350px; left: 800px;}
.footprint-holder .fp--8 { bottom: 400px; left: 950px;}

.footprint-holder .each-footprint.beforeInit { opacity:0; transform: scale(1.2);
-webkit-transform: scale(1.2); -o-transform: scale(1.2); -ms-transform: scale(1.2);}

.story-header-text { position: relative; }
.story-header-text .title-holder {  padding: 30px; }
.story-header-text .title-holder h1 { font-size:0px; text-indent:-9999px;visibility:none; }
.story-header-text .strong-des { }
.story-header-text .strong-des p {  text-align: center;margin: 4px auto;font-size: 20px; font-weight:bold;  }

.project-title { max-width: 300px; margin: 0 auto; margin-bottom: 30px; background:#222; border-radius: 25px; box-sizing: border-box;padding: 10px;}
.project-title p { text-align: center; color:#fff; opacity:0.8;font-size: 18px;letter-spacing: 2px;}
.title-holder .title-sub-brand { display:block; margin: 0 auto;  width: 200px; margin-bottom:30px;}
.title-holder .page-title-main { position: relative; margin: 0 auto; width: 876px; }
.title-holder .page-title-main .back { position: absolute; z-index: 1;  top: 0px;  left: 0px; display:none;}
.title-holder .page-title-main .front { position: relative; z-index: 2; }
.title-holder .title-sub {   display: block;  margin: 40px auto; }

.story-header-test-page {  background: url("http://img.khan.co.kr/spko/storytelling/2020/2030-invest-report-2/test-page-header-bg.png") no-repeat; background-size: cover; background-position: top center; background:#111;}
.story-header-test-page .title-holder .sub-title{  width: 180px;  margin: 10px auto;}
.story-header-test-page .title-holder .main-title{ width: 350px;  margin: 10px auto;}
.story-header-con-2 { margin-top: 30px; }
.story-header-con-2 .pc-share { }

.para-holder { margin: 70px auto;  font-family: 'Noto Serif KR',  'notokr-regular'; }
.para-holder p { font-size: 20px;  max-width: 550px; text-align: left; color: #222; margin: 20px auto;
line-height: 1.7; letter-spacing: -0.3px;  }
.para-holder p span.semi { font-size: 16px; opacity:0.85; }
.para-holder p.sm {   font-size: 16px; opacity: 0.85;}
.para-holder p.strong { font-weight:bold;}
.para-des {  border-top: 1px dashed #afafaf; padding-top: 50px;}

.story-intro { display:none;}
.story-intro .para-holder p { font-weight:300;}
.section-list {}
.section-list .each-sec { margin: 100px auto; position: relative; }
.section-list .each-sec h2 { text-align: center; margin-bottom: 40px;}

.story-body { position: relative; }
.story-body-hover-footprint { position: absolute; top:0; left:0; width:100%; display:none;}
.story-body-hover-footprint .each-footprint { position: absolute;  }
.story-body-hover-footprint .fp-l {width: 50px; }
.story-body-hover-footprint .fp-r { width: 55px;}
.story-body-hover-footprint .fp--9 { right: 30px; top: 20px;}
.story-body-hover-footprint .fp--10 { right: 150px; top: 150px;}
.story-body-hover-footprint .fp--11 { top: 350px; right: 250px;}
.story-body-hover-footprint .fp--12 { top: 500px; left: 250px;}
.story-body-hover-footprint .fp--13 { top: 650px; left: 200px;}
.story-body-hover-footprint .fp--14 { top: 800px; left: 50px;}

.hideme { opacity:0;}

.sec--test { }
.sec--test.test-done { opacity:0.4; pointer-events:none;}
.sec--test.test-done .test-toggle-area { }
#TEST_AGAIN_BTN_TOP { display:none;}

.user-test-wrap { width: 100%;max-width: 900px; margin: 0 auto;}
.user-test-wrap .test-border { position: relative;width: 100%; box-sizing: border-box;  padding: 50px 0; border-top: 2px solid #2834d0; border-bottom: 2px solid #2834d0;}
.user-test-wrap .test-border h2 { display: none;}
.user-test-wrap .test-border .title-img { position: absolute;top: -20px; background: #fff;  left: 50%;  width: 420px;  margin-left: -210px;  padding: 0px 10px; box-sizing: border-box;}
.user-test-wrap .test-border .title-img img { width: 100%; }
.des-box { margin: 0px auto; width: 80%; padding: 20px;  box-sizing: border-box; border: 1px solid #ddd;}
.des-box .box-wrap {width: 100%;}
.des-box .box-wrap p {text-align: center;color: #2f3235;}
.des-box .box-wrap p u { font-weight:bold; }

.user-select-area {  width: 100%; margin: 50px auto;}
.select-el-holder {width: 100%; box-sizing: border-box;padding: 0px 50px;}
.select-el-holder ul {width: 100%; position: relative; display: table; }
.select-el-holder ul li { padding: 20px 10px; float: left; width: 50%;box-sizing: border-box;padding: 10px; position: relative; }
.select-el-holder ul::after { display:block; clear: both; content:"";}
.each-el { cursor: pointer; background: #eff1f6;  border: 2px solid transparent;box-sizing: border-box;  padding: 25px; border-radius: 5px;}
.each-el .el-thumb { margin-bottom: 15px;}
.each-el .el-thumb img {height: 150px; display:block; margin: 0 auto; opacity: 0.5;}
.each-el > p { text-align: center;  font-weight: 500; font-size: 20px; color: #2e313c; text-shadow: 1px 1px 0px #fff;}

.select-el-holder ul li .cancel-btn { position: absolute; font-size: 14px; display:inline-block; color:#fff;  background: #f44336; text-align: center; cursor: pointer;   border-radius:2px; top: 10px;right: 10px; box-sizing: border-box;padding: 5px 8px;font-weight: 500; display:none; }
.each-el.el-selected ~.cancel-btn { display:block; }

.each-el.el-selected { border: 2px solid #2834d0; }
.each-el.el-selected .el-thumb img { opacity:1; }
.count-control { opacity: 0; width: 70px; line-height:32px;display: block;  position: absolute;bottom: 0px; left: 50%; margin-left: -35px; background: #fff;}
.count-control .count-view {  text-align: center; font-weight: 500;font-size: 20px; color: #2e313c;}
.count-control .count-view .count-value {}
.count-control .count-btn {transition:all 0.3s ease 0s; position: absolute;top: 0; box-sizing: border-box;  padding: 2px 10px; background: #2834d0; color: #fff; border-radius: 3px; font-weight: bold; cursor: pointer; line-height:31px; width: 35px; height: 35px;text-align: center; vertical-align: middle;}
.count-control .countUp {  right: -30px;  }
.count-control .countDown  {left: -30px;  }
.count-control .count-btn:hover {box-shadow: 1px 1px 7px rgb(127 127 136 / 50%); }
.count-control-hide { opacity:0; }
.each-el.el-selected ~.count-control { opacity:1; }
.noselect {-webkit-touch-callout: none;  -webkit-user-select: none;  -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none;  user-select: none;}
.non-alert-des { opacity:0; text-align: center; font-size: 15px; color:#222;     min-height: 20px;}

.button{transition: all 0.2s ease 0s; width: 400px; box-sizing: border-box; padding: 25px 20px; text-align: center; margin: 0 auto; border-radius: 4px; background: #333;cursor: pointer;}
.btn-blue { background:#2834d0; }
#GO_RESULT_BTN { padding: 30px;}
.button p {  color: #fff;font-size: 18px; font-weight: 400; letter-spacing: 2px; opacity: 0.9;}
.button:hover { box-shadow: 10px 10px 15px rgb(61 61 70 / 25%);}

.basket-fixed { position: fixed; bottom: 20px; right: 20px; }
.basket-holder { width: 500px; height: 100%; height: 20px;  }
.basket-holder .basket-body {position: absolute; z-index: 1; top: 0; left: 0;width: 100%;box-sizing: border-box;padding: 0px;height: 100%; }
.basket-holder .basket-body .basket-inside {position: relative;
width:100%; height: 100%; }
.basket-holder .basket-body .basket-inside .el { position: absolute; width: 50px; bottom: 0;  }
.basket-holder .basket-body .basket-inside .el-t1 { width : 25px; }
.basket-holder .basket-body .basket-inside .el-t2 { width : 40px; }
.basket-holder .basket-body .basket-inside .el-t3 { width : 22px; }
.basket-holder .basket-body .basket-inside .el-t4 { width : 70px; }
.basket-holder .basket-body .basket-inside .el img { width: 100%; }
.basket-holder .basket-cover { position: relative; z-index: 2;}
.basket-holder .basket-cover img { opacity:0;}

.sec--result { position: relative;  min-height: 300px;  background: #0c1040; background:url("http://img.khan.co.kr/spko/storytelling/2021/carbonprint/blue-grad.jpg") no-repeat; background-size:cover; }
.test-result-background { position: absolute; z-index:0; top: 0; left:0; right:0; bottom: 0; width:100%; height:50%; }
.test-result-body { position: relative; z-index:1; display:none; }
.test-result-wrap { width: 100%; max-width: 850px;  margin: 0 auto; padding-top: 100px;}
.test-paperTexture { width:100%; background: url("http://img.khan.co.kr/spko/storytelling/2021/carbonprint/paper-texture.jpg") repeat-y;  background-size: 100% auto; box-sizing: border-box; padding: 50px;border-radius: 4px 4px 0px 0px;}
.test-result-wrap h2 { display: none;}
.test-result-wrap .title-img { display:block; margin:0px auto; margin-bottom: 40px; width: 154px; }
.test-result-wrap .title-img  img { width: 100%; margin: 0 auto;  border-bottom: 4px double #2834d0;padding-bottom: 10px; }

.test-result-wrap .result-list {  margin: 40px auto; }
.test-result-wrap .result-list .each-result-row { width: 100%; box-sizing:border-box; padding: 0px 40px; margin: 50px auto;}
.each-result-row .result-head {  text-align: center; color: #2834d0; color:#222; margin-bottom: 30px;}
.each-result-row .result-head .number { font-size: 32px; font-weight: 900;}
.each-result-row .result-head .text { font-size: 22px;  font-weight: bold;}
.each-result-row .result-body {width: 100%; }
.each-result-row .result-body .result-text {}
.each-result-row .result-body .result-text p { font-size: 20px; text-align: left;color: #222;margin: 20px auto; line-height: 1.7; letter-spacing: -0.3px;}
.each-result-row .result-body .result-text p.semi { font-size: 14px; opacity: 0.8;}
.each-result-row .result-body .result-text span.point { color: #232323; font-weight: bold;font-size: 20px;padding: 0px 5px;background: #dde5f7;border-radius: 2px; }
.each-result-row .result-body .result-text span.sm { font-size: 14px; opacity: 0.8; }
.each-result-row .result-body .result-graph {}

.result-temp {position: absolute; width: 100%; top: 50%; margin-top: -50px; }
.result-temp p { animation: fade 1.5s linear infinite normal; opacity:1; position: relative; text-align: center; padding: 30px 0; color:#fff; font-weight:200; font-size: 20px; opacity: 0.85;  }
@keyframes fade {
	0% {
            opacity: 0.3;
	}
	50% {
            opacity: 1;
	}
	100% {
            opacity: 0.3;
	}
}

.sec--result.result-show { background: #1e28a2; }
.sec--result.result-show .result-temp { display: none; }
.sec--result.result-show .test-result-body {}



.pole-graph { width: 100%; box-sizing: border-box; padding: 0px 40px;  padding-top: 30px; margin: 0 auto;}
.pole-graph .graph-body { width: 100%; position: relative;}
.pole-graph .graph-body .pole-holder {  width: 100%; position: relative;}
.pole-graph .graph-body .pole-holder .each-pole { margin: 5px 0; height:25px;position: relative; background: #4c56d8; background: rgb(100 114 214 / 60%); background: linear-gradient(45deg, #3d46b5, #bcbfe6);border-radius: 2px;}
.each-pole .label { position: absolute; left:-115px; top:0; line-height:25px; font-size: 13px; color:#111;text-align: right; width: 100px; display:none;}
.each-pole .value { position: absolute; right: 5px; font-size: 13px; font-weight: bold; line-height: 25px; color:#111; text-shadow: 1px 1px 0px rgb(255 255 255 / 60%);}
.pole-graph .graph-body .y-axis { position: absolute; left:-110px; top:0;  font-size: 13px; color:#111;text-align: right; width: 100px;  }
.pole-graph .graph-body .y-axis p { line-height: 1; margin: 5px 0; height:25px;position: relative;}
.pole-short .value { right: -30px;}
.avr-line { position: absolute; top: -10px; }
.avr-line .line-body { position: relative; width: 1px; height: 160px; background:#111; background: rgba(0,0,0,0.8);
background: none; border-left: 1px dashed rgba(0,0,0,0.3);}
.avr-line .line-body p { position: absolute; top: -20px; font-size: 12px; color: #4b4d50;  width: 100px; left: -30px;}

.pole-graph .graph-body .pole-holder .pole-01 { background: #2834d0;}
.pole-graph .graph-body .pole-holder .pole-02 { background: #3c3a42; }
.each-pole .value { color:#fff; text-shadow: 1px 1px 0px #111;}

.sec--outro { }
.graph-holder { margin: 50px auto; }
.graph-holder h2 { font-size: 22px;}
.graph-holder .graph-img {}
.graph-holder .graph-img img { display: block; margin: 0 auto;}
.graph-holder .caption { max-width: 500px; width: 100%;font-size: 15px; text-align: left;  margin: 20px auto; color: #777;}

.ref-box { max-width: 800px; margin: 50px auto;  box-sizing: border-box; padding-top: 30px;border-top: 1px solid #ddd; margin-top: 100px;line-height: 1.6; color: #ddd; font-size: 14.5px; opacity: 0.5;}
.ref-box .des { margin-bottom: 10px;}
.ref-box ul {}
.ref-box ul li {}
.ref-box ul li span.head {font-weight: bold; margin-right: 20px;}
.para-holder p u.link { cursor: pointer; }

.para-box-des {margin: 0px auto;   padding: 20px;box-sizing: border-box;max-width: 650px;background: rgba(255,255,255,0.1);}
.para-box-des p { font-size: 17px;text-align: center;font-family: 'Noto Sans KR';}

.legend-btn-holder { margin: 20px auto; width: 280px; }
.legend-btn-holder .each-legend-btn { display:inline-block;  width: 120px; margin: 0px 10px;box-sizing: border-box;float: left; text-align: center;padding: 7px 15px;  padding-bottom: 5px;cursor: pointer;border: 1px solid #3e3e3e;transition:all 0.3s ease 0s; }
.legend-btn-holder::after { clear:both; content:""; display:block; }
.legend-btn-holder .each-legend-btn span { display: inline-block; text-align: center;   vertical-align: top; }
.legend-btn-holder .each-legend-btn .text { color:#fff;font-weight: bold; font-size: 14px;line-height: 20px;}
.legend-btn-holder .each-legend-btn .box { margin-left: 7px; width: 30px; height:20px; }
.legend-btn-holder .each-legend-btn:hover { box-shadow: 2px 2px 10px rgb(255 255 255 / 10%);}
.legend-btn-holder .each-legend-btn.on {background: rgba(255,255,255,0.1); box-shadow: 2px 2px 10px rgb(255 255 255 / 10%); }
.btn-produce.on { border: 1px solid #e56864; }
.btn-consume.on { border: 1px solid #5a8ed1; }
.btn-produce .box { background:#e36763; }
.btn-consume .box { background:#5a8ed1; }
.plastic-graph { width: 100%; max-width: 700px; margin: 0 auto; }
#OUTRO_PG_GRAPH {}
.graph-holder {position: relative; width:100%; }
.graph-holder .graph-body {position: relative; width:100%;height: 400px;  }
.graph-body .pole-consume-holder { z-index: 2; position: absolute; top: 0; left:0;width:100%;height: 100%;}
.graph-body .pole-produce-holder { z-index: 1; position: absolute; top: 0; left:0;width:100%;height: 100%;}
.graph-body > div {}
.graph-body > div > .each-p { width: 20px; min-height: 20px; background: #1975ff; border-radius: 2px; position: absolute;}
.graph-body .pole-consume-holder .each-p { background:#ddd;background: #615fff; background: linear-gradient(10deg, #003273, #6397da);}
.graph-body .pole-produce-holder .each-p { background:#fff; background:#7b003f; background: linear-gradient(10deg, #63002a, #ec6e67);box-shadow: 1px 1px 5px rgb(165 6 0);}

.graph-body > div > .each-p .value { position: absolute;display: inline-block;   font-size: 12px;
color: #fff;width: 100px;text-align: center;top: -20px;left: 50%;margin-left: -50px;}
.graph-holder .axis { position: absolute;}
.graph-holder .y-axis { width: 50px; height:100%; top:0; left:-70px;}
.graph-holder .x-axis { width:100%; bottom: -10px; left: 0; }
.graph-holder .axis .each-tick { position: absolute; display: inline-block; color:#fff; opacity:0.6; font-size: 12px;}
.graph-holder .y-axis .each-tick { }
.graph-holder .y-axis .each-tick .line {position: absolute; top:10px; left:60px; width:100px; height:1px; border-bottom: 1px dashed #fff;opacity: 0.4; }
.graph-holder .x-axis .each-tick {text-align: center; }


.section-list .art-banner { margin-bottom: 0; padding-bottom: 150px;}
.art-banner { position: relative; background: #111; width:100%; box-sizing:border-box; padding: 100px 0; }
.banner-area-back { position: absolute; top:0; left:0; width:100%; height:100%; background: url("http://img.khan.co.kr/spko/storytelling/2021/carbonprint/banner-area-bg-2.jpg") no-repeat;
background-size:100%; background-attachment:fixed; opacity:0.7; background-position: center bottom; }
.banner-area-wrap {  width :100%; height:100%; padding-top: 50px; }
.art-banner .banner-area-title { width:100%; }
.art-banner .banner-area-title .title-box { width:100%;}
.art-banner .banner-area-title .title-box > img { position: relative; display:block; margin: 0 auto;}
.art-banner .banner-area-title .title-box .pro-title-main { width: 600px; }
.art-banner .banner-area-title .title-box .pro-title-sub {margin-top: 20px; }
.art-banner .banner-list { width: 100%; max-width: 1200px; margin: 0 auto; margin-top: 50px; }
.art-banner .banner-list ul { width:100%; position: relative; overflow:hidden; }
.art-banner .banner-list ul li { width:33%; float:left; box-sizing:border-box; padding: 10px; }
.art-banner .banner-list ul::after { clear:both; content:""; display:block; }
.each-banner {width:100%;height: 250px; box-sizing:border-box; padding: 25px;
border: 2px solid rgba(255,255,255,0.1); border-radius: 4px; background: rgba(255,255,255,0.1); background: rgba(0,0,0,0.1);cursor:pointer;position:relative;}
.each-banner:hover{border: 2px solid rgba(255,255,255,0.5);box-shadow: 2px 2px 10px rgba(255,255,255,0.2);}
.each-banner-bg {transition:all 0.3s ease 0s; position: absolute; top: 0; left:0; width:100%; height:100%; opacity:0.4; }
.each-banner:hover > .each-banner-bg { opacity:0.9; }
.banner-bg--1 { background: url("http://img.khan.co.kr/spko/storytelling/2021/carbonprint/banner_01_bg.jpg") no-repeat;background-size:cover;}
.banner-bg--2 { background: url("http://img.khan.co.kr/spko/storytelling/2021/carbonprint/banner_02_bg.jpg") no-repeat;background-size:cover;}
.banner-bg--3 { background: url("http://img.khan.co.kr/spko/storytelling/2021/carbonprint/banner_03_bg.jpg") no-repeat;background-size:cover;}
.banner-bg--4 { background: url("http://img.khan.co.kr/spko/storytelling/2021/carbonprint/banner_04_bg.jpg") no-repeat;background-size:cover;}
.banner-bg--5 { background: url("http://img.khan.co.kr/spko/storytelling/2021/carbonprint/banner_05_bg.jpg") no-repeat;background-size:cover;}
.banner-bg--6 { background: url("http://img.khan.co.kr/spko/storytelling/2021/carbonprint/banner_06_bg.jpg") no-repeat;background-size:cover;}


/***darkmode***/
.section-list .sec--result { margin-bottom: 0; }
.section-list .sec--outro.darkMode { background: #131313;margin-top: 0;margin-bottom: 0;padding: 100px 0px;}
.section-list .sec--outro.darkMode .para-holder p { color:#fff;opacity: 0.9;}
.section-list .sec--outro.darkMode .graph-holder h2 { color:#fff; font-weight: 200;opacity: 0.8;}
.section-list .art-banner { margin-top: 0;}




.art-banner { margin-bottom: 0; }
.art-banner .publish-info { clear: both; width: 100%;text-align: center; color: #fff; font-size: 20px;font-weight: 200;letter-spacing: 4px; margin: 10px auto;padding-top: 40px;}
.art-banner .publish-info  span { font-size:15px; letter-spacing:-0.01em;}
.each-banner-wrap { position:relative; width:100%;  height: 100%; box-sizing:border-box; padding-bottom: 60px;}
.each-banner .deco-line {  position: absolute;top: -10px; left: -25px; width: 1px; height: 30px; background: #fff; transform: rotate(40deg);}
.each-banner .art-info { margin-bottom: 20px; }
.each-banner .art-info > img {}
.each-banner .art-info .episode {font-family: 'Noto Serif KR', 'notokr-regular', serif;font-size: 16px;color: #fff; opacity: 0.8;    line-height: 1.2;}
.each-banner .art-info .publish-date { font-family: 'Noto Serif KR', 'notokr-regular', serif; font-size: 14px;  color: #fff; opacity: 0.6;  margin-top: 5px;}
.each-banner .art-title {font-size: 20px; line-height: 1.4; color: #fff; opacity: 0.8; font-weight: bold; text-shadow: 1px 1px 4px rgba(0,0,0,0.5);}
.each-banner .go-art {  position: absolute;bottom: 0px;  right: 0px;  background: rgba(255,255,255,0.8);  box-sizing: border-box; padding: 10px 20px; border-radius: 4px;}
.each-banner .go-art .more { font-size: 14px; line-height: 15px;color: #2b2b2b; background: url("http://img.khan.co.kr/spko/storytelling/2018/big/outlink.png") no-repeat;
 background-size: 15px 15px;  padding-right: 20px; background-position: right; }
.each-banner:hover > div> .go-art { background: rgba(255,255,255,1);  }

li.banner-block { pointer-events: none;opacity: 0.4; }
li.banner-block .each-banner { cursor: default; }
li.banner-block .art-info .publish-date {  display:none;}
.art-banner .banner-list ul li.card-full { width: 50%; margin: 0 auto; float: none;}


/** fixed Navi **/
.fixed-navi {position: fixed; right: 10px;top: 50%;margin-top: -250px; right: -200px;
font-family: 'Noto Sans KR', 'notokr-regular', 'Apple SD Gothic Neo','ë§‘ì€ ê³ ë”•'; z-index: 1;}
.fixed-navi .navi-body { height: 500px;}
.fixed-navi .navi-body .bar { height:100%; width:2px; background:#fff; background: rgba(0,0,0,0.2); position: relative; }
.fixed-navi .navi-body .bar .progress { position: absolute; background: #d2964c; width:100%; height: 0%; top:0px; left:0px; }
.fixed-navi .navi-body .bar .step-txt { position: absolute; top:0px; right:0px; width: 130px;  height: 100%; text-align: right; box-sizing: border-box; padding-right: 20px; }
.fixed-navi .navi-body .bar .step-txt p {  font-size: 11px;line-height: 20px; color:#111;  text-shadow: 1px 1px 1px #fff;opacity: 0.8;
 position: absolute; right: 10px; letter-spacing: 0;  font-weight: bold;}
.fixed-navi .navi-body .bar .step-txt p.on { opacity:1; }
.fixed-navi .navi-body .bar .step-txt p.s00 {top: -1%; }
.fixed-navi .navi-body .bar .step-txt p.s01 {top: 12%; }
.fixed-navi .navi-body .bar .step-txt p.s02 {top: 28%; }
.fixed-navi .navi-body .bar .step-txt p.s03 {top: 50%; }
.fixed-navi .navi-body .bar .step-txt p.s04  {top: 75%; }
.fixed-navi .navi-body .bar .step-txt p.s05 {top: 95%; }
/** fixed Navi **/


/*****footer*****/
.footer-area {  background:#fff;  margin-top: 100px;  box-shadow: 0px -15px 20px rgba(0,0,0,0.05); border-top: 1px solid #cdd1d6;
position: relative; z-index: 2; margin-top: 0px; }
.footer-area .copyright {}
.footer-area .copyright p { text-align: center; font-size: 14px; color:#555;line-height: 20px;  margin: 5px 0; }

.rel-article {  padding: 30px 0px; }
.rel-article .rel-box { width:100%; max-width: 650px; margin: 0 auto;   border: 1px solid #d2d1d6; border-bottom: 4px solid #222;}
.rel-article .rel-box-2 {   margin: 20px auto;}
.rel-article .rel-box-2 .rel-art-list { padding: 10px; }
.rel-article .rel-box .thumb { width:100%; position: relative; height: auto; }
.rel-article .rel-box .thumb a { width:100%; display:block; }
.rel-article .rel-box .thumb img { width:100%; }
.rel-article .rel-box .thumb .project-name { position: absolute; top: 10px; left:10px; background: #222;color:#fff;border-radius:2px; font-weight: bold;
 font-size: 16px; line-height:18px; padding: 8px 15px;text-align:center; color: #ddd; display: inline-block; }
.rel-article .rel-box .rel-art-list { width:100%; box-sizing: border-box; padding: 20px 15px;position: relative;  }
.rel-article .rel-box .rel-art-list ul { width:100%; }
.rel-article .rel-box .rel-art-list ul li { margin: 6px 0px; text-align: center; }
.rel-article .rel-box .rel-art-list ul li a { text-align:left; color: #555; font-size: 17px; line-height:24px; }
.rel-article .rel-box .rel-art-list ul li a:hover { text-decoration: underline; }
.rel-article .rel-box .rel-art-list .more-btn { position: absolute; right: 10px; bottom: 10px; font-size: 14px;
color: #777;  background: url("http://img.khan.co.kr/spko/storytelling/2018/big/outlink.png") no-repeat;
background-size: 15px 15px; padding-right: 20px;background-position: right;  cursor: pointer; opacity:0.7; }
.rel-article .rel-box .rel-art-list .more-btn:hover { opacity:1; }
.rel-article h4 { font-size: 16px;font-weight: 500;  text-align: center;margin-bottom: 20px;  margin-top: 20px;}
.rel-article .rel-box-bottom { margin-top: 20px; }

.bottom-byline {   width: 100%; max-width: 1050px;margin: 0 auto; margin-top: 20px;  }
.bottom-byline ul {  box-sizing: border-box; padding: 30px 0; text-align: center;  max-width: 500px; margin: 0 auto;}
.bottom-byline ul .team-wrap { width: 50%; float: left; }
.bottom-byline ul .team-wrap:nth-child(1) { margin-bottom: 15px; }
.bottom-byline ul::after { clear: both; content:''; display:block; }
.bottom-byline ul li { opacity:0.9;  font-weight: 300;font-size: 13px; line-height:20px; color:#222; letter-spacing: 0px; }
.bottom-byline ul li.team { font-weight: bold; font-size: 15px; opacity:1;   letter-spacing: -1px; margin: 5px 0px; }
.bottom-byline ul li.team span { margin: 0px 5px; font-size: 13px; position: relative; top: -2px; }
.bottom-byline ul li .roll { font-weight:bold; display: inline-block; margin: 7px 0px; }
.bottom-byline ul li a { display: inline-block;  color: #111;}
.bottom-byline ul li a:hover { /* background: rgba(129, 144, 255, 0.5);*/ text-decoration:underline; }

.digital-list-wrap { border-top: 1px solid #dbdbdb; }
.digital-list { position: relative; z-index:2;}


/******common footer******/
.common-footer {position: relative; background:#fff;}
#footer { position:relative;width: 1050px; margin: 0 auto;}
#footer:after { clear: both; content: ""; display: block;}
#footer .foot_info { border-top:1px solid #b9bbbe; padding:25px 0 20px;}
#footer .foot_info:after { clear: both; content: ""; display: block;}
#footer .foot_info a { color:#888; font-size:12px; line-height:15px;}
#footer .foot_info h2 { float:left; margin:2px 70px 0 90px;}
#footer .foot_info .cnt { float:left; width:755px;}
#footer .foot_info .cnt .blind {display:block; overflow:hidden; left:-9999px; position:absolute; width:1px; height:1px; line-height:0; text-indent:-9999px; font-size:0;}
#footer .foot_info .cnt dd.first { margin-bottom:2px;}
#footer .foot_info .link dd {line-height: 18px;}
#footer .foot_info .link span { background:url("http://img.khan.co.kr/spko/main_2013/blit_bar.gif") no-repeat scroll 2px 5px transparent; display:inline-block; padding-left:10px;}
#footer .foot_info .link span.first { background:none repeat scroll 0 0 transparent; padding-left:0;}
#footer .foot_info .adr { margin-top:4px; color:#888; font-size:12px;}
#footer .foot_info .adr span { background:url("http://img.khan.co.kr/spko/main_2013/blit_bar.gif") no-repeat scroll 2px 5px transparent; display:inline-block; padding-left:10px;}
#footer .foot_info .adr span.first { background:none repeat scroll 0 0 transparent; padding-left:0;}
#footer .foot_info address { color:#aaa; float:left; font-family:Verdana, Sans-serif; font-weight:bold; font-size:11px; margin-top:6px;}
#footer .foot_info address strong { color:#4d89f7;}
#footer .foot_info .khRss { float:left; margin-left:5px; margin-top:2px;}
#footer .foot_info .khRss a { background:url('http://img.khan.co.kr/spko/main_2013/set_common.png') no-repeat scroll 0 -964px transparent; display:block; width:14px; height:17px; overflow:hidden; text-indent:-9999px;}
.gotomobile {text-align:center;} /* ëª¨ë°”ì¼ í™”ë©´ìœ¼ë¡œ ë³´ê¸° ë§í¬ ë²„íŠ¼ */


/*********digital common byline*******/
.digital-common-byline { width: 100%; margin-top: 30px; }
.digital-common-byline .c-byline-wrap { }
.digital-common-byline .c-byline-border {box-sizing: border-box; padding: 30px; }
.c-byline-border-all {border: 1px solid #111;}
.c-byline-border-topBottom {border-bottom: 1px solid #111;border-top: 1px solid #111;}
.c-byline-noBorder { border:none; }
.c-byline-noBorder-Bg { background: #f5f5f5;}
.digital-common-byline .c-byline-border .brand-desc { margin-bottom: 30px; }
.digital-common-byline .c-byline-border .brand-desc p.head { font-size: 20px; line-height: 1; font-weight:bold; font-weight: 900;color: #2b2c2d; margin-bottom: 20px;}
.digital-common-byline .c-byline-border .brand-desc .desc-text { font-size: 15px; color:#565a5f; line-height: 1.6; word-break: keep-all;}
.digital-common-byline .c-byline-border .brand-desc .desc-text p { margin: 0; }
.digital-common-byline .c-byline-people {}
.digital-common-byline .c-byline-people h3 { font-size: 16px; }
.digital-common-byline .c-byline-people ul { margin-top: 15px;  width: 100%;display: block; position: relative;}
.digital-common-byline .c-byline-people ul li {position: relative;  float: left; width: 33%;box-sizing: border-box; padding-right: 30px; position: relative; padding-left: 60px;
 min-height: 50px;margin-bottom: 8px;}
.digital-common-byline .c-byline-people ul li .p-thumbs {border-radius: 5px; overflow:hidden;  position: absolute;  top: 0;left: 0;}
.digital-common-byline .c-byline-people ul li .p-thumbs img { width: 45px; height: 45px; }
.digital-common-byline .c-byline-people ul li .p-text { font-size: 13px;color:#565a5f;}
.digital-common-byline .c-byline-people ul li .p-text .name {}
.digital-common-byline .c-byline-people ul li .p-text .name a {color:#565a5f;font-weight: bold;}
.digital-common-byline .c-byline-people ul li .p-text .name a:hover { text-decoration: underline;}
.digital-common-byline .c-byline-people ul li .p-text .mail {display: block;}
.digital-common-byline .c-byline-people ul::after { display: block;content: ""; clear: both;}
/*********digital common byline*******/



/*-------------------------------------*/
/***** ì „ì²´ ê¸°ë³¸ CSS - ëª¨ë°”ì¼ ê¸°ì¤€******/
/*-------------------------------------*/

/***** ë…¸íŠ¸ë¶ *****/
@media screen and (max-width: 1380px) {
.story-top-graphic {  height: 400px; }
.float-el-holder {margin-left: -450px; width: 900px;}
.leaf--1 { top: 100px; }
.leaf--3 { left: -20px; }
.leaf--5 { top: 300px; }

.title-holder .page-title-main { width: 700px; }
.title-holder .page-title-main > img { width: 100%; }
.title-holder .title-sub { width: 500px; }

.each-el .el-thumb img { height: 100px; }
.each-el > p { font-size: 18px; }
.each-banner .art-title { font-size: 18px; }
}

/***** ëª¨ë°”ì¼ Portraits ****/
@media screen and (max-width: 800px) {

.img-pc { display:none; }
.img-m { display:block; }
.wrap { overflow-x: hidden; }
.interactive-header{ display:none; }


/* #header - GNB */
#header { display:none;  }
#header-m { display: block;position: fixed; left: 0; right: 0; width: 100%;  z-index: 30; top: 0;position: relative;}
#header-m:after {content:""; position:absolute; left:0; bottom:0px; width:100%; height:1px; background-color:#dbdde0;}
#header-m.header {transition: All 0.3s ease-in-out;-webkit-transition: All 0.3s ease-in-out;-moz-transition: All 0.3s ease-in-out;-o-transition: All 0.3s ease-in-out;}
#header-m.header.hidetop {top:-50px;}
.head_article .common-header-title .tit_svc {  height: 34px; text-align: center;}
.screen_out {   overflow: hidden;position: absolute;  width: 0;height: 0; line-height: 0; text-indent: -9999px;}
.head_article {position:fixed; top:-60px; width:100%; min-width:320px; -webkit-transform:translate3d(0,0,0); z-index:100; transition:All 0.3s ease-in-out; -webkit-transition:All 0.3s ease-in-out; -moz-transition:All 0.3s ease-in-out; -o-transition:All 0.3s ease-in-out;}
.head_article.on {top:0;}
.head_article .common-header-title {position:relative; height:38px; border-bottom:1px solid #f0f0f0; background-color:#fff;}
.head_article .common-header-title .tit_svc {height:34px; text-align:center;}
.head_article .box_menu_left {position:absolute; left:7px; top:0; z-index:20;}
.head_article .box_menu_left .btn_menu {float:left; width:35px; height:38px;}
.head_article .box_menu_left .btn_menu .ico_menu {display:block; width:20px; height:20px; margin:10px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_hr_top_menu.png") no-repeat 0 0; background-size:20px 20px; text-indent:-9999px;}
.head_article .box_menu_left .btn_gohome {float:left; width:35px; height:38px;}
.head_article .box_menu_left .btn_gohome .ico_gohome {display:block; width:20px; height:20px; margin:10px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_hr_top_gohome.png") no-repeat 0 0; background-size:20px 20px; text-indent:-9999px;}
.head_article .box_menu_right {position:absolute; right:5px; top:0; z-index:20;}
.box_menu_btn {float:left; width:auto; height:38px; margin:0 7px;}
.box_menu_btn em {position:relative; top:-3px; margin-left:3px; font-size:12px;}
.box_menu_right .btn_scrap .ico_scrap {display:inline-block; width:18px; height:21px; margin:11px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_art_top_scrap.png") no-repeat 0 0; background-size:12px 18px; text-indent:-9999px;}
.box_menu_right .btn_share .ico_share {display:inline-block; width:20px; height:20px; margin:10px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_hr_top_share.png") no-repeat 0 0; background-size:20px 20px; text-indent:-9999px;}
.box_menu_right .btn_reply .ico_reply {display:inline-block; width:20px; height:20px; margin:10px auto 0; background:url("http://img.khan.co.kr/mobile/images/2018/ico_hr_top_reply.png") no-repeat 0 0; background-size:20px 20px; text-indent:-9999px;}
.pc-share { display:none; }
.share_bx { float: none; top:0; }
.share_bx > div {  float: left;  }
.share_bx > div a { width: 100%; }
.share_bx > div a img { width:100%; }
.share_bx > .share_fb {width: 15px; margin: 7px 5px;}
.share_bx > .share_tw {width: 20px; margin: 5px 5px;}
.common-footer #footer { display:none;}
.common-footer #footer-m { display:block;}
.art_header { display:block; position: relative; margin-bottom: 15px; padding: 20px 20px 0; padding-top: 45px;}
.header_tit_serial {   margin: 7px 0 4px; color: #4469B0; font-size: 13px; font-weight: 700; letter-spacing: -0.075em;}
.header_tit_serial a {color: #4469B0; }
.art_header .tit_view {   overflow: hidden;  margin-top: 4px;font-weight: normal;color: #121212; font-size: 24px; line-height: 29px;letter-spacing: -0.025em;}
.art_header { padding-top: 10px; }

.story-top-graphic { width:100%; min-width: inherit;height: 100%;background: #2834d0; }
.float-el-holder { width:100%; left:0; margin-left:0;  position: relative;}
.float-el-holder .main-trash-dumy { top: -10px;}
.float-el-holder .main-trash-dumy img {width: 90%; margin: 0 auto; display: block;}
.story-header-text { top:-20px;}
.story-header-text .title-holder { padding: 10px 5px; }
.title-holder .page-title-main { width: 98%;}
.title-holder .title-sub { margin-bottom: 0; width:90%;}
.project-title { width: 250px; margin-bottom: 20px;}
.project-title p { font-size: 15px; }
.leaf--1 { left: -50px; width: 100px; top: auto; bottom: 0;}
.leaf--2 { left: -20px; width: 70px; top: -10px;
 left: auto; right: -15px; top: auto;bottom: -100px; display: none;}
.leaf--3 {top: -10px;left: 0px; width: 70px;}
.leaf--4 { width: 70px;  right: auto; left: -10px; top: auto; bottom: -180px;display: none;}
.leaf--5 {  right: -20px;  width: 50px; top: 80px;}

.story-header-con-2 { margin-top: 0; }

.footprint-holder .each-footprint { width: 35px; }
.footprint-holder .fp--1 { bottom: -30px; left: -5px;}
.footprint-holder .fp--2 { bottom: -20px; left: 50px; }
.footprint-holder .fp--3 { left: 90px; bottom: 40px;}
.footprint-holder .fp--4 { left: 150px; bottom: 50px;}
.footprint-holder .fp--5 { bottom: 100px; left: 200px;}
.footprint-holder .fp--6 { bottom: 110px; left: 270px;}
.footprint-holder .fp--7 { bottom: 170px;left: 300px; }
.footprint-holder .fp--8 { bottom: 210px;left: 350px;}

.story-body-hover-footprint .fp-l {  width: 25px;}
.story-body-hover-footprint .fp-r {  width: 28px;}

.para-holder {width: 100%;  margin: 40px auto; }
.para-holder p { font-size: 16.5px; line-height: 1.7; box-sizing: border-box;  padding: 0px 12px;  word-break: keep-all;}
.top-byline .top-border p {  box-sizing: border-box;width: 100%;text-align: center; padding: 0px 10px;}
.top-byline .top-border p strong { margin-left:0;}

.section-list .each-sec { margin: 50px auto;}
.title-holder .title-sub-brand {  width: 120px; margin-bottom: 10px;}
.title-holder .page-title-main {  width: 90%; }
.title-holder .page-title-main > img { width: 100%; }
.title-holder .title-sub {  margin: 20px auto;  width: 80%; display:none; }

.des-box { width: 90%; padding: 15px; }
.des-box p { font-size: 15px;  font-weight: bold; }

.sec--test { padding-bottom: 0;}
.user-test-wrap .test-border .title-img { width: 300px; top:-12px; margin-left:-150px;}
.user-test-wrap .test-border { padding: 30px 0px; }
.des-box .box-wrap p { text-align: left; font-weight: normal;margin-bottom: 7px;}
.select-el-holder { padding: 0px 10px; }
.select-el-holder ul li { padding: 10px 5px;}
.user-select-area { margin: 15px auto; margin-bottom: 45px; }
.each-el { padding: 15px; padding-bottom: 20px;}
.each-el .el-thumb { margin-bottom: 5px; }
.each-el .el-thumb img { height:80px; }
.each-el > p { font-size: 16px; }
.count-control .count-btn { width: 30px; height:30px; font-size: 16px; line-height:25px; }
.count-control .count-view { font-size: 16px; line-height:29px; }
.select-el-holder ul li .cancel-btn { right: 5px; font-size: 13px; }

.button {width: 90%;margin-top: 40px;}
.button p { font-size: 16px; }
#GO_RESULT_BTN {padding:22px; }

.basket-fixed { bottom: -10px;right: 0;width: 100%;}
.basket-holder { width: 100%; height:10px; }
.basket-holder .basket-body { padding: 0;}
.basket-holder .basket-body .basket-inside .el img { left: -10px; position: relative;}
.basket-holder .basket-body .basket-inside .el-t1 { width:35px; }
.basket-holder .basket-body .basket-inside .el-t2 { width: 50px;}
.basket-holder .basket-body .basket-inside .el-t3 { width: 25px; }
.basket-holder .basket-body .basket-inside .el-t4 { width: 70px; }



.section-list .sec--result { margin-bottom: 0; }
.result-temp { margin-top:-25px;}
.result-temp p { font-size: 16px; width: 100%; box-sizing: border-box; padding: 0px 30px;}
.sec--result { min-height:300px;}

.test-result-wrap { padding-top: 50px;}
.test-result-wrap .title-img { width: 120px; }
.test-paperTexture { padding: 30px 0px; width: 95%;left: 2.5%;position: relative;border-radius: 4px;}
.each-result-row .result-head .number { font-size: 25px; font-weight: bold;}
.each-result-row .result-head .text { font-size: 18px; }
.test-result-wrap .result-list .each-result-row { padding: 0px 15px; }

.each-result-row .result-body .result-text p { font-size: 16px; line-height:1.5;}
.each-result-row .result-body .result-text span.point { font-size: 17px; }
.each-result-row .result-body .result-text p.semi { font-size: 12px; }
.pole-graph {padding-right: 10px;padding-left: 50px; }

.graph-holder h2 { font-size: 20px; }
.graph-holder .graph-img { width:100%;}
.graph-holder .graph-img img { width:100%; }
.graph-holder .caption { font-size: 12px; box-sizing: border-box; padding: 0px 12px;text-align: center;}
.section-list .sec--outro.darkMode .graph-holder h2 { font-size: 16px;margin-bottom: 15px;}
.legend-btn-holder { width: 260px; }
.legend-btn-holder .each-legend-btn { padding: 5px 15px; border-radius: 3px; margin: 0px 5px;}
.legend-btn-holder .each-legend-btn .text { font-size: 13px;}
#OUTRO_PG_GRAPH { width: 100%;box-sizing: border-box;padding: 0px 10px;padding-left: 60px;}
#OUTRO_PG_GRAPH .graph-holder { }
#OUTRO_PG_GRAPH .graph-holder .graph-body {height: 280px; }
.graph-holder .axis .each-tick { font-size: 12px; }
.graph-holder .y-axis { left: -50px; }
.graph-body > div > .each-p .value { font-size: 10px;}

span.jump { display:block; }

.section-list .sec--outro.darkMode { padding: 30px 0; }

.para-box-des { padding: 12px; }
.para-box-des p { text-align: left; font-size: 14.5px;}

.ref-box {  font-size: 13.5px; margin: 0px auto; border: none; padding: 12px;}
.banner-area-title .project-title { font-size: 18px; }
.section-list .art-banner {  margin-bottom: 0; padding-bottom: 30px; margin-top: 0; border-top: 1px solid #313131; }
.art-banner { padding: 50px 0;  }
.banner-area-wrap { padding-top: 10px; }
.banner-area-back {   background-position: top; background-attachment: inherit; }
.art-banner .banner-area-title .title-box .pro-title-main { width: 80%; }
.art-banner .banner-area-title .title-box .pro-title-sub { width: 50%;  margin-top: 10px;}
.art-banner .banner-list { margin-top: 30px; }
.art-banner .banner-list ul { padding: 0px 15px;box-sizing: border-box;}
.art-banner .banner-list ul li { width:100%; padding: 8px 5px;}
.art-banner .banner-list ul li.card-full { width:100%; }
.art-banner .publish-info { }
.each-banner {  border: 1px solid rgba(255,255,255,0.5); }
.each-banner .art-title { font-size: 18px;line-height: 1.55;}
.each-banner { height:auto; padding: 20px; }
.each-banner:hover { box-shadow:none; border: 1px solid rgba(255,255,255,0.5); }
.each-banner .each-banner-bg {  opacity: 0.9; }
.slider-item .slider-type-name { margin-bottom: 5px; }
.slider-item .slider-type-ment { font-size: 15px; line-height: 1.45;}



.bottom-byline { margin-top:0;}
.rel-article { padding: 20px 15px;  box-sizing: border-box;}
.rel-article .rel-box { }
.rel-article .rel-box .rel-art-list { padding: 15px; }
.rel-article .re.rel-article .rel-box .rel-art-list ul li a {  font-size: 15px; line-height:1.4; }
.rel-article .rel-box .rel-art-list ul li { text-align: left; }
.rel-article .rel-box .rel-art-list ul li a { line-height: 1.2; font-size: 15px; text-align: left;}
.digital-list-wrap { border-top:0;}

/*********digital common byline*******/
.digital-common-byline { width: 100%; margin-top: 0px; }
.digital-common-byline .c-byline-wrap {box-sizing: border-box; padding: 15px;}
.c-byline-noBorder-Bg { box-sizing: border-box;padding: 15px; }
.digital-common-byline .c-byline-border { padding: 20px; }
.digital-common-byline .c-byline-border .brand-desc p.head { margin-bottom: 12px; font-size: 16px;}
.digital-common-byline .c-byline-border .brand-desc .desc-text { font-size: 14px; }
.digital-common-byline .c-byline-border .brand-desc { margin-bottom: 20px; }
.digital-common-byline .c-byline-people h3 { font-size: 15px; padding-left: 10px; border-left: 5px solid #111; line-height: 1;}
.digital-common-byline .c-byline-people ul li { width: 50%; padding-right: 0px; min-height: 42px; }
.digital-common-byline .c-byline-people ul li .p-thumbs img { width: 40px; height:40px; }
.digital-common-byline .c-byline-people ul li .p-text { font-size: 12px; }
.digital-common-byline .c-byline-people ul li .p-text .mail {  font-size: 10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 100%;}
/*********digital common byline*******/




}


/****** ëª¨ë°”ì¼ Landscape *****/
@media (max-width: 800px) and (orientation: landscape){



}


 /* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {



}


/* IE9,10 */
@media screen and (min-width:0\0){


}

/* IE6,7,8 */
@media \0screen\,screen\9 {


}
